/* CSS chung */

@font-face {
    font-family: myFont;
    src: url(../font/GoogleSans-Light.otf);
}

* {
    font-family: myFont !important;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #000 !important;
}

a:hover {
    text-decoration: none !important;
}

.row {
    margin: 0 !important;
}

.can-click {
    cursor: pointer;
}

.dropdown-item:hover {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dropdown-item:hover {
    background-color: #cccccc !important;
}

#main-content {
    width: auto;
    /* height: 100vh; */
    border-bottom: 1px solid #cccccc;
}


/* CSS side-bar  */

#side-bar {
    float: left;
    width: 250px;
    height: 100vh;
    background-color: #fff;
}

.img-toggle {
    width: 24px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 8px;
}

#logo {
    margin-top: 8px;
    width: 120px;
}

#side-bar .btn {
    width: 100%;
    text-align: left !important;
}

.btn:hover {
    background-color: #cccccc;
}

.img-btn {
    width: 20px;
    margin: 0 4px;
    margin-bottom: 4px;
}


/* CSS header  */

#header {
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

#select-restaurant {
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
}

#info {
    padding-top: 12px;
    padding-bottom: 4px;
    display: -webkit-inline-box;
}

.fr-md {
    float: right;
}

@media (max-width:768px) {
    .fr-md {
        float: left;
    }
}

.img-avatar {
    width: 28px;
    cursor: pointer;
}


/* CSS content  */

#content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding-right: 0;
    border-left: 1px solid #cccccc;
}

.btn-green {
    background-color: #019160 !important;
    color: #fff !important;
}

.btn-green:hover {
    background-color: #2FBE8E !important;
}

#add-btn {
    width: 54px;
    white-space: nowrap;
    -webkit-transition: width 500ms;
    -moz-transition: width 500ms;
    transition: width 500ms;
    overflow: hidden;
}

#add-btn:hover {
    width: 188px;
    white-space: nowrap;
}

#search-input {
    background: url(../icon/search.png) no-repeat scroll 8px;
    padding-left: 30px;
}

#refesh-btn {
    border: 1px solid #BBBBBB;
}


/* CSS table  */

th {
    border-top: none !important;
}

#info-customers {
    overflow-y: auto;
    height: 76vh;
}

#info-customers thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

#info-customers tbody td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}


/* custom scroll table */

#info-customers::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#info-customers::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px#E5E5E5;
    border-radius: 8px;
}

#info-customers::-webkit-scrollbar-thumb {
    background: #BBBBBB;
    border-radius: 8px;
}


/* CSS pagination  */

.pagination-btn {
    border-radius: 50% !important;
    width: 28px;
    height: 28px;
    margin-top: 8px;
    margin-right: 4px;
    padding: 0 !important;
    text-align: center !important;
}

.pagination-btn:hover {
    background-color: #019160 !important;
    color: #fff !important;
}

#first-page {
    background: url('../icon/btn-firstpage.svg') center;
}

#prev-page {
    background: url('../icon/btn-prev-page.svg') center;
}

#current-page {
    background-color: #019160 !important;
    color: #fff;
}

.bg-grey {
    background-color: #E5E5E5 !important;
}

#next-page {
    background: url('../icon/btn-next-page.svg') center;
}

#last-page {
    background: url('../icon/btn-lastpage.svg') center;
}


/* CSS modal  */

.border-grey {
    border: 1px solid #E5E5E5 !important;
}

.hr-green {
    background-color: #019160;
    width: 100px;
    height: 4px;
    float: left;
    margin: 0;
}

#avatar-img {
    cursor: pointer;
    object-fit: cover;
}

#edit-avatar-img {
    cursor: pointer;
    object-fit: cover;
}

#add-customer-modal input,
#add-customer-modal select {
    color: #000;
}

.btn-modal-footer {
    width: 100px;
    height: 44px;
}

.salary-group {
    display: flex;
    flex-direction: row;
}

.input-salary {
    padding-right: 62px !important;
}

.exchange-rate {
    position: absolute;
    top: 40px;
    right: 26px;
}


/* CSS menu right click   */

.modal-open {
    overflow: scroll;
}


/* .custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #cccccc;
    white-space: nowrap;
    background: #fff;
    border-radius: 4px;
    padding: 0;
}

.custom-menu li {
    padding: 8px 12px 8px 0px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #cccccc;
} */

#context-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #cccccc;
    white-space: nowrap;
    background: #fff;
    border-radius: 4px;
    padding: 0;
}


/* #context-menu.active {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
} */

#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

#context-menu .item:hover {
    background-color: #cccccc;
}

#context-menu hr {
    margin: 2px 0px;
    border-color: #555;
}


/* Alert */

.alert {
    position: absolute !important;
    top: 28px;
    left: 50%;
    z-index: 2000;
    display: none;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.close-alert-btn {
    margin-left: 16px;
    margin-top: -2px;
}